<form action="/answer" method="get" class="questionnaire text-center">
  <label for="question" >What's happening?</label><br>
  <input type="text" id="question" name="query" placeholder="what time is it?">
  <input type="submit" value="Go on!" id="btn">
</form>

